/* ************************************************************************** */
/*                                    FONTS                                   */
/* ************************************************************************** */

.aclonica-regular {
	font-family: "Aclonica", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* ************************************************************************** */
/*                                    BODY                                    */
/* ************************************************************************** */

body {
	background-color: #202020;
}

/* ************************************************************************** */
/*                                   HEADER                                   */
/* ************************************************************************** */

.navbar {
	background-color: #FFFF00;
}

.navbar-brand {
	margin-right: 70px;
}

.nav-item {
	font-family: Aclonica;
	padding-left: 25px;
}

.nav-link:hover {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

.dropdown-menu {
	background-color: #FFFF00;
}

.dropdown-menu> li> a:hover {
	background-color: #aaaa00;
	text-decoration: none;
}

.lang {
	margin-right: 20px;
}

.active-lang {
	display: none;
}

/* ************************************************************************** */
/*                                    MAIN                                    */
/* ************************************************************************** */

main {
	background-color: #202020;
	background-image: url("./../img/logo.png");
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
}
