/* ************************************************************************** */
/*                                    FONTS                                   */
/* ************************************************************************** */

.aclonica-regular {
	font-family: "Aclonica", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.comic-neue-bold {
	font-family: "Comic Neue", cursive;
	font-weight: 700;
	font-style: normal;
}

/* ************************************************************************** */
/*                                    BODY                                    */
/* ************************************************************************** */

/* ************************************************************************** */
/*                                   HEADER                                   */
/* ************************************************************************** */

.navbar {
	background-color: #FFFF00;
}

.navbar-brand {
	margin-right: 50px;
}

.nav-item {
	font-family: Aclonica;
	padding-left: 25px;
}

.nav-link:hover {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

.dropdown-menu {
	background-color: #FFFF00;
}

.dropdown-menu> li> a:hover {
	background-color: #aaaa00;
	text-decoration: none;
}

.lang {
	margin-right: 20px;
}

.active-lang {
	display: none;
}
