{% load static %}
<link rel="stylesheet" href="{% static 'css/views/batcave.css' %}">

<div class="container-fluid">
	<div id="batcave" class="row">
		<div class="col-md-7 d-flex flex-column justify-content-around">
			<div class="section">
				<div class="label">
					<h3><b>T</b>OURNAMENT NAME</h3>
				</div>
				<div class="box name">
					<h3>TheBatPongPro</h3>
				</div>
			</div>

			<div class="section">
				<div class="label">
					<h3><b>S</b>UPER COOL</h3>
				</div>
				<div class="box stats">
					<h3>it is vraiment cool</h3>
					<h3>it is vraiment cool</h3>
					<h3>it is vraiment cool</h3>
					<h3>it is vraiment cool</h3>
				</div>
			</div>

			<div class="section">
				<div class="label">
					<h3><b>M</b>ATCH HISTORY</h3>
				</div>
				<div class="box history">
					<h3>it is vraiment cool</h3>
				</div>
			</div>

		</div>
		<div class="col-md-5 test"></div>
	</div>
</div>

