{% load static %}
<link rel="stylesheet" href="{% static 'css/views/batcave.css' %}">
<link rel="text/javascript" href="{% static 'js/loading/loading.js' %}">

<div class="container-fluid">
	<div id="batcave" class="row pt-5">
		<div class="col-md-7 d-flex flex-column justify-content-around">
			<div class="tournament-name d-flex flex-column align-self-end mb-2">
				<div class="label align-self-end px-4">
					<h3 class="tournament_name">TOURNAMENT NAME</h3>
				</div>
				<div class="box d-flex flex-column position-relative justify-content-center align-items-center">
					<img src="{% static 'img/dots.png' %}" class="dots-top-left">
					<img src="{% static 'img/dots.png' %}" class="dots-bottom-right">
					<div class="name"><b>{{ user.username }}</b></div>
				</div>
			</div>

			<div class="player-stats d-flex flex-column mb-2">
				<div class="label align-self-start px-4">
					<h3 class="player_stats">PLAYER STATS</h3>
				</div>
				<div class="box d-flex flex-column position-relative justify-content-center align-items-center">
					<img src="{% static 'img/dots.png' %}" class="dots-top-left">
					<img src="{% static 'img/dots.png' %}" class="dots-bottom-right">
					<div class="stats">
						<div class="d-flex justify-content-between align-items-center mb-4">
							<img class="img-type" src="{% static 'img/batman_vec.png' %}">
							<div><b>2 - 1</b></div>
							<img class="img-type" src="{% static 'img/joker_vec.png' %}">
						</div>
						<div class="d-flex">
							<div class="mb-4 me-2 played_games">PLAYED GAMES:</div>
							<div><b>3</b></div>
						</div>
						<div class="d-flex">
							<div class="mb-4 me-2 win_ratio">WIN RATIO:</div>
							<div><b>67%</b></div>
						</div>
					</div>
				</div>
			</div>

			<div class="match-history d-flex flex-column align-self-end mb-4">
				<div class="label align-self-end px-4">
					<h3 class="match_history">MATCH HISTORY</h3>
				</div>
				<div class="box d-flex flex-column position-relative justify-content-center align-items-center">
					<img src="{% static 'img/dots.png' %}" class="dots-top-left">
					<img src="{% static 'img/dots.png' %}" class="dots-bottom-right">
					<div class="history">
						<div class="first d-flex mb-3">
							<img class="img-type" src="{% static 'img/batman_vec.png' %}">
							<div class="d-flex flex-column align-items-center">
								<div class="name-type victory">VICTORY</div>
								<div class="score"><b>11 - 5</b></div>
							</div>
						</div>
						<div class="second d-flex mb-3">
							<img class="img-type" src="{% static 'img/joker_vec.png' %}">
							<div class="d-flex flex-column align-items-center">
								<div class="name-type defeat">DEFEAT</div>
								<div class="score"><b>9 - 11</b></div>
							</div>
						</div>
						<div class="third d-flex">
							<img class="img-type" src="{% static 'img/batman_vec.png' %}">
							<div class="d-flex flex-column align-items-center">
								<div class="name-type victory">VICTORY</div>
								<div class="score"><b>11 - 5</b></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5 d-flex flex-column justify-content-around">
			<div class="graphic-view d-flex flex-column mb-4">
				<div class="label align-self-center px-4">
					<h3 class="graphic_view">GRAPHIC VIEW</h3>
				</div>
				<div class="box d-flex flex-column position-relative justify-content-center align-items-center">
					<!-- <div class="pie-chart d-flex justify-content-center align-items-center">PIE CHART</div> -->				  

					<div class="curve-graph d-flex justify-content-center align-items-center">CURVE GRAPH</div>
				</div>
			</div>
		</div>
	</div>
</div>
