{% load static %}
<link rel="stylesheet" href="{% static 'css/views/batcave.css' %}">

<div class="container-fluid">
	<div class="row" style="height: calc(100vh - 85.08px);">
		<div class="col-md-7 test" style="background-color: green;">
			<div class="container">
				<div class="row" style="height: 100px; background-color: blue;">
					<div class="col-3"></div>
					<div class="col-5"></div>
				</div>
				<div class="row" style="height: 100px; background-color: cadetblue;">
					<div class="col-3"></div>
					<div class="col-5"></div>
				</div>
			</div>
		</div>
		<div class="col-md-5 test" style="background-color: red;">GRAPHS</div>
	</div>
</div>