{% load static %}
<link id="batpongcss" rel="stylesheet" href="{% static 'css/views/batpong.css' %}">

<section>
	<canvas id="boardpong" width="1440px" height="720px"></canvas>
	<div class="container-fluid">
		<div class="row">
			<div class="col p-0 overflow-hidden" style="height: calc(100vh - 85.08px);">
				<form id="MatchForm" method="post">
					{% csrf_token %}
					<!-- Champs générés par MatchForm -->
					<div>
						{{ MatchForm.winner.label_tag }}
						{{ MatchForm.winner }}
						{{ MatchForm.winner.errors }}
					</div>
					<div>
						{{ MatchForm.loser.label_tag }}
						{{ MatchForm.loser }}
						{{ MatchForm.loser.errors }}
					</div>
					<div>
						{{ MatchForm.score.label_tag }}
						{{ MatchForm.score }}
						{{ MatchForm.score.errors }}
					</div>
					<!-- Bouton de soumission -->
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>
