{% load static %}
<h2>Update User Information</h2>
<form method="post">
	{% csrf_token %}
	{{ formUsername.as_p }}
	<div>{{ user.username }}</div>
	<button type="submit">Update</button>
</form>

<form method="post">
	{% csrf_token %}
	{{ formPassword.as_p }}
	<button type="submit">Update</button>
</form>

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ formAvatar.as_p }}
	<button type="submit">Envoyer</button>
</form>

{% if avatar_url %}
<h2>Avatar actuel :</h2>
<img src="{{avatar_url}}" alt="Avatar">
{% endif %}

