.aclonica-regular {
	font-family: "Aclonica", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	background-image: url("./../img/bg.png");
}

.navbar {
	background-color: #FFFF00;
}

.navbar-nav {
	background-color: #FFFF00;
}

.nav-item {
	font-family: Aclonica;
	padding-left: 35px;
	padding-right: 35px;
}

.nav-link:hover,
.nav-link:focus {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

.nav-link.dropdown-toggle {
	text-decoration: none;
}

.dropdown-menu {
	background-color: #FFFF00;
}

.dropdown-menu> li> a:hover {
	background-color: #aaaa00;
	text-decoration: none;
}

.centered-container {
	margin-top: 35px;
	width: 100vw;
	height: 70vh;
	justify-content: center;
	align-items: center;
}

.btn-play,
.btn-play:active {
	background-color: #FFFF00;
	font-family: Aclonica;
	font-size: 30px;
	border-radius: 20px;
}

.btn-play:hover {
	background-color: #aaaa00;
}

.btn-tournament {
	background-color: #FFFFFF;
	font-family: Aclonica;
	font-size: 30px;
	border-radius: 20px;
}

.btn-tournament:hover {
	background-color: #cecece;
}
