#batcave {
	height: calc(100vh - 85.08px);
	padding-top: 40px;
	background-color: #90D0C3;
}

.section {
	height: 20%;
	width: 90%;
	margin-bottom: 10px;
	align-self: start;
}

.section:not(:first-of-type) {
	height: 40%;
}

.section:nth-child(odd) {
	align-self: end;
}

.section:nth-child(odd) .label {
    float: right;
}

.label h3 {
	text-align: center;
	font-size: 1.4rem;
	transform: skew(-25deg);
}

.label {
    float: left;
	margin-top: -22px;
	width: fit-content;
	padding: 0 30px;
	height: 35px;
	transform: skew(25deg);
	background: #FFEEA7;
	font-family: "Comic Neue";
}

.violet-truc {
	height: 100%;
	margin: 0 30px;
	background-color: blueviolet;
	border: #fff 7px solid;
}