@font-face {
	font-family: "digital-dream";
	src: url('../fonts/Digital-Dream/DIGITALDREAM.ttf') format('truetype');
}

#batpong {
	height: calc(100vh - 85.08px);
	background-image: url('../../img/game/home.gif');
	background-size: cover;
	background-position: center;
}

/* ************************************************************************** */
/*                                 GAME MENU                                  */
/* ************************************************************************** */

h6,
.welcome,
.modes,
.maps {
	font-family: Aclonica;
	color: white;
}

.playerContainers {
	display: flex;
}

.player1Container {
	color: white;
    height: 10px;
    flex: 1;
    top: 98%;
    width: relative;
}

.player2Container {
	color: white;
    height: 10px;
    flex: 1;
    top: 98%;
	right: 0;
    width: relative;
}

/* ************************************************************************** */
/*                                 GAME TITLES                                */
/* ************************************************************************** */

