#batpong {
	height: calc(100vh - 85.08px);
	background-color: black;
}

/* ************************************************************************** */
/*                                 GAME MENU                                  */
/* ************************************************************************** */

h6,
.welcome,
.modes,
.maps {
	font-family: Aclonica;
	color: white;
}

/* ************************************************************************** */
/*                                 GAME TITLES                                */
/* ************************************************************************** */

/* .boardpong {
	background-color: hsl(110, 41%, 49%);
} */

/* #boardpong {
	background-image: url("/static/img/game/Background_pong.png");
  background-size: cover;
	position: fixed;
} */

/* #batpongcss {
	text-align: center;
} */
