#batprofile {
	height: calc(100vh - 85.08px);
	background-color: #90D0C3;
}

/* ************************************************************************** */
/*                                  NICKNAME                                  */
/* ************************************************************************** */

.username {
	height: 25%;
	width: 90%;
}

.username .box {
	background-color: #484887;
}

.username .box .name {
	font-size: x-large;
}

/* ************************************************************************** */
/*                                    EMAIL                                   */
/* ************************************************************************** */

.email {
	height: 25%;
	width: 90%;
}

.email .box {
	background-color: coral;
}

.email .box .address {
	font-size: x-large;
}

/* ************************************************************************** */
/*                                  PASSWORD                                  */
/* ************************************************************************** */

.password {
	height: 25%;
	width: 90%;
}

.password .box {
	background-color: #457BA1;
}

.password .box .pass {
	font-size: x-large;
	-webkit-text-security: disc;
	max-width: 12ch;
	overflow: clip;
}

/* ************************************************************************** */
/*                                   AVATAR                                   */
/* ************************************************************************** */

.profile-pic {
	height: 25%;
	width: 90%;
}

.profile-pic .box {
	background-color: black;
}

.profile-pic .box .pass {
	font-size: x-large;
	-webkit-text-security: disc;
	max-width: 12ch;
	overflow: clip;
}

/* ************************************************************************** */
/*                                    LABEL                                   */
/* ************************************************************************** */

.label {
	height: 35px;
	width: fit-content;
	margin-top: -22px;
	z-index: 1;
	transform: skew(25deg);
	background-color: #FFEEA7;
}

.label h3 {
	text-align: center;
	font-size: 1.4rem;
	padding-top: 5px;
	transform: skew(-25deg);
	font-family: "Comic Sans MS";
	font-weight: 400;
	color: black;
}

/* ************************************************************************** */
/*                                    BOX                                     */
/* ************************************************************************** */

.box {
	height: 100%;
	margin: 0 30px;
	margin-top: -1em;
	color: #fff;
	border: #fff 7px solid;
	font-family: "Comic Sans MS";
}

.dots-top-left {
	width: 10vw;
	position: absolute;
	transform: rotate(180deg);
	top: 0;
	left: 0;
}

.dots-bottom-right {
	width: 10vw;
	position: absolute;
	bottom: 0;
	right: 0;
}