#batprofile {
	height: calc(100vh - 85.08px);
	background-color: #90D0C3;
}

/* ************************************************************************** */
/*                                  USERNAME                                  */
/* ************************************************************************** */

.user {
	height: 25%;
	width: 90%;
}

.user .box {
	background-color: #484887;
}

.user .box .name {
	font-size: x-large;
}

/* ************************************************************************** */
/*                                    EMAIL                                   */
/* ************************************************************************** */

.email {
	height: 25%;
	width: 90%;
}

.email .box {
	background-color: coral;
}

.email .box .address {
	font-size: x-large;
}

/* ************************************************************************** */
/*                                  PASSWORD                                  */
/* ************************************************************************** */

.pass {
	height: 25%;
	width: 90%;
}

.pass .box {
	background-color: #457BA1;
}

.pass .box .pass {
	font-size: x-large;
	-webkit-text-security: disc;
	max-width: 12ch;
	overflow: clip;
}

/* ************************************************************************** */
/*                                 PROFILE PIC                                */
/* ************************************************************************** */

.profile-pic {
	height: 25%;
	width: 90%;
}

.profile-pic .box {
	background-color: black;
}

.profile-pic .box .pic {
	height: 5rem;
	border-radius: 50%;
}

/* ************************************************************************** */
/*                                FRIENDS LIST                                */
/* ************************************************************************** */

.friends-list {
	height: 33%;
}

.friends-list .box {
	background-color: black;
}

/* ************************************************************************** */
/*                                 ALL USERS                                  */
/* ************************************************************************** */

.all-users {
	height: 33%;
}

.all-users .box {
	background-color: black;
}

.all-users .box .users {
	background-color: white;
	color: black;
}

/* ************************************************************************** */
/*                                ADD A FRIEND                                */
/* ************************************************************************** */

.add-friend {
	height: 33%;
}

.add-friend .box {
	background-color: black;
}

/* ************************************************************************** */
/*                                    LABEL                                   */
/* ************************************************************************** */

.label {
	height: 35px;
	width: fit-content;
	margin-top: -22px;
	z-index: 1;
	transform: skew(25deg);
	background-color: #FFEEA7;
}

.label h3 {
	text-align: center;
	font-size: 1.4rem;
	padding-top: 5px;
	transform: skew(-25deg);
	font-family: "Comic Sans MS";
	font-weight: 400;
	color: black;
}

/* ************************************************************************** */
/*                                    BOX                                     */
/* ************************************************************************** */

.box {
	height: 100%;
	margin: 0 30px;
	margin-top: -1em;
	color: #fff;
	border: #fff 7px solid;
	font-family: "Comic Sans MS";
}

.dots-top-left {
	width: 10vw;
	position: absolute;
	transform: rotate(180deg);
	top: 0;
	left: 0;
}

.dots-bottom-right {
	width: 10vw;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* ************************************************************************** */
/*                                    MODAL                                   */
/* ************************************************************************** */

.modal-header {
	background-color: #FFEEA7;
	font-family: "Comic Sans MS";
}

.modal-body .errorlist {
	visibility: hidden;
}

.modal-body p {
	margin-bottom: 1.5rem;
}

.modal-body .current-username {
	margin-bottom: 1.5rem;
}

.modal-body .update {
	color: black;
	background-color: #FFEEA7;
	border: #ffdf60;
	--bs-btn-active-bg: #ffe787;
}
