#signup {
	height: calc(100vh - 85.08px);
	background-color: #252525;
	background-image: url("../../img/logo.png");
	background-repeat: space repeat;
	background-size: 150px;
}

/* ************************************************************************** */
/*                                    FORM                                    */
/* ************************************************************************** */

.form {
	background-color: #252525;
	padding: 15px;
	border-radius: 25px;
}

[class^="id_"] {
	font-family: "Aclonica", sans-serif;
	color: white;
}

.form ul li {
	font-family: "Aclonica", sans-serif;
	color: white;
}

.signin {
	color: black;
	background-color: #FFFF00;
	border: #caca00;
	--bs-btn-hover-bg: #caca00;
	--bs-btn-active-bg: #adad00;
}

.signin-42 {
	margin-top: 5%;
	background-color: #00babc;
	border: #009396;
	--bs-btn-hover-bg: #009396;
	--bs-btn-active-bg: #009396;
}

.logo-42 {
	filter: invert(100%);
    width: 30px;
    padding-left: 5px;
}

.ask {
	font-family: "Aclonica", sans-serif;
	color: white;
	padding-top: 20px;
}

.link {
	font-family: "Aclonica", sans-serif;
	color: white;
	padding-left: 10px;
	padding-top: 4px;
}
